body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

input, fieldset, button {
  width: 50%;
}

label {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

.error-input {
  border: 1px solid red;
}
